.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .Home button {
    padding: 10px 20px;
    height: 50vh;
    width: 40vw;
    font-size: 56px;
    background-color: #9b4040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10%;
  }
  
  .Home button:hover {
    background-color: #0056b3;
  }
  
  .Home button:focus {
    outline: none;
  }
  
  
  